/* .categories-container{
    background-color: blue;
}
.category-container{
    background-color: red;
}
.category-header{
    display: flex;
    justify-content: flex-end;
    flex-flow: row;
}
.category-hider{
    background-image: "../../svgs/Double\ Chevron\ Down.svg";
} */